@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap");

@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-font: "Source Sans 3", sans-serif;
}

body {
  font-family: var(--primary-font);
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 10px;
  border-left: 2px solid transparent;
}

.dark {
  --background: #121212;
  --sidebarBg: #181818;
  --mainText: white;
  --sidebarBtnBg: #ffffff0d;
  --searchBtnBg: #ffffff0d;

  --folderTextColor: #ffffff99;
  --folderHoverBg: #ffffff08;
  --hoverTextColor: white;
  --folderBg: #ffffff1a;
  --folderHoverBg2: #ffffff08;
  --middleBg: #1c1c1c;
  --middleBg2: #ffffff08;
  --middleText: #ffffff66;
  --recentsHoverBg: #312eb5;
  --recentsHoverText: white;
  --moreHoverBg: white;
  --selectNoteText: #ffffff99;
  --rightHoverText: white;
  --favoriteNoteHowerBg: #ffffff1a;
  --rightText: #ffffff99;
  --calenderText: #ffffff99;
  --rightHRBg: #ffffff1a;
  --rightPlaceHolderText: #ffffff66;

  --rightToggleBg: #333333;
  --boderBg: #ffffff1a;
}

.light {
  --background: white;
  --sidebarBg: white;
  --mainText: black;
  --sidebarBtnBg: #e5e7eb;
  --searchBtnBg: white;
  --folderTextColor: black;
  --folderHoverBg: #f3f4f6;
  --hoverTextColor: #3f3f46;
  --folderBg: #e5e7eb;
  --folderHoverBg2: #e5e7eb;
  --middleBg: #f9fafb;
  --middleBg2: #f9fafb;
  --middleText: #6b7280;
  --recentsHoverBg: #e5e7eb;
  --recentsHoverText: #3a2e2e;
  --moreHoverBg: black;
  --selectNoteText: #494646;
  --rightHoverText: #a58d8d99;
  --favoriteNoteHowerBg: #8b73731a;
  --rightText: #28242499;
  --calenderText: #493d3d;
  --rightHRBg: #9188881a;
  --rightPlaceHolderText: #3a383866;

  --rightToggleBg: white;
  --boderBg: black;
}
