@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap');


@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-font: 'Source Sans 3', sans-serif;
}

body {
  font-family: var(--primary-font);
}


.dark {
  --background: #121212;
  --sidebarBg: #181818;
  --mainText: white;
  --sidebarBtnBg: #FFFFFF0D;
  --searchBtnBg: #FFFFFF0D;

  --folderTextColor: #FFFFFF99;   
  --folderHoverBg: #FFFFFF08;
  --hoverTextColor: white;
  --folderBg: #FFFFFF1A;
  --folderHoverBg2: #FFFFFF08;
  --middleBg: #1C1C1C;
  --middleBg2: #FFFFFF08;
  --middleText: #FFFFFF66;
  --recentsHoverBg: #312EB5;
  --recentsHoverText: white;
  --moreHoverBg: white;
  --selectNoteText: #FFFFFF99;
  --rightHoverText: white;
  --favoriteNoteHowerBg: #FFFFFF1A;
  --rightText: #FFFFFF99;
  --calenderText: #FFFFFF99;
  --rightHRBg: #FFFFFF1A;
  --rightPlaceHolderText: #FFFFFF66;
}

.light {
  --background: white;
  --sidebarBg: white;
  --mainText: black;
  --sidebarBtnBg: #e5e7eb;
  --searchBtnBg: white;
  --folderTextColor: black;
  --folderHoverBg: #f3f4f6;
  --hoverTextColor : #3f3f46;
  --folderBg: #e5e7eb;
  --folderHoverBg2: #e5e7eb;
  --middleBg: #f9fafb;
  --middleBg2: #f9fafb;
  --middleText: #6b7280;
  --recentsHoverBg: #e5e7eb;
  --recentsHoverText: #3a2e2e;
  --moreHoverBg: white;
  --selectNoteText: #494646;
  --rightHoverText: #a58d8d99;
  --favoriteNoteHowerBg: #8b73731a;
  --rightText: #28242499;
  --calenderText: #493d3d;
  --rightHRBg: #9188881a;
  --rightPlaceHolderText: #3a383866;

}